body {
	background-image: url("gosse.png");
	background-repeat:no-repeat;
	background-position:top right;
}

button {
	background-color: #e2b039;
	height: 70px;
	width: 200px;
	
}

h2 {
	font-size: 50px;
}

p {
	height: 100px;
	width: 300px;
}